<div class="uk-flex-center" uk-grid>
  <div class="uk-width-1-3@m">
    <app-loading *ngIf="busy"></app-loading>

    <form [formGroup]="form" *ngIf="!busy" class="uk-margin-large-top">
      <div class="uk-card uk-card-primary uk-card-body uk-box-shadow-small">
        <h3 class="uk-card-title">Meu Perfil</h3>
        <div class="uk-margin">
          <input
            type="text"
            class="uk-input uk-form"
            placeholder="Nome"
            formControlName="name"
            [ngClass]="{'uk-form-danger' : (!form.controls['name'].valid && !form.controls['name'].pristine) }"
          >
        </div>
        <div class="uk-margin">
          <input
            type="email"
            class="uk-input uk-form"
            placeholder="E-mail"
            formControlName="email"
            [ngClass]="{'uk-form-danger' : (!form.controls['email'].valid && !form.controls['email'].pristine) }"
          >
        </div>
        <div class="uk-margin">
          <input
            type="text"
            class="uk-input uk-form"
            placeholder="CPF"
            formControlName="document"
          >
        </div>
        <div class="uk-margin uk-text-right">
          <button
            type="button"
            class="uk-button uk-button-default"
            [disabled]="form.invalid"
            (click)="submit()"
          >Cadastrar</button>
        </div>
      </div>
    </form>
  </div>
</div>
